{% extends "../wics-setup.jinja2" %}
{% block main_nav %}
    {% include "designer-nav.jinja2" %}
{% endblock main_nav %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card-title">
                        <h1>WiCS Design and Brand Resources</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="card-text">
                        <p class="typography-body">
                            This is where you'll find resources to help you when designing new copy, graphics or code for
                            We in Computer Science projects. Here are some resources to get you started:
                        </p>
                    </div>
                    <ul class="list-group">
                        <a href="#"><li class="list-group-item list-group-item-action">Logo Images</li></a>
                        <a href="#"><li class="list-group-item list-group-item-action">Budget Request Template</li></a>
                        <a href="#"><li class="list-group-item list-group-item-action">Our CSS Stylesheets</li></a>
                        <a href="#"><li class="list-group-item list-group-item-action">Designer's Style Guide</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}