{% extends "hackathon-top-aligned-wics-setup.jinja2" %}

{% block content%}
    <div class="content full-width">
        <h1 class="display-4 font-weight-normal text-center page-header row">Contact Us</h1>
        <div class="row">
            <div class="col-3">WiCS Email</div>
            <div class="col-3">wics@pdx.edu</div>
            <div class="col-6">Questions about sponsorship of this event should go here</div>
        </div>
        <div class="row">
            <div class="col-3">Slack</div>
            <div class="col-3"><a href="https://wics-psu.slack.com" target="_blank">wics-psu.slack.com</a></div>
            <div class="col-6">If you're a PSU student, you can sign up for our Slack and contact the leaders specifically</div>
        </div>
    </div>
{% endblock content %}