{% extends "hackathon-top-aligned-layout.jinja2" %}

{% block content%}
    <div class="content">
        <h1 class="font-bold big-bottom-margin text-center">Event Registration</h1>
        <h2 class="font-bold">BEFORE YOU REGISTER</h2>
        <p class="lead">Please complete the following steps:</p>
        <ul>
            <li>Navigate to the hackathon <a class="font-bold" href="http://wics.cs.pdx.edu/hackathon" target="_blank">home page</a></li>
            <li>Read the code of conduct</li>
            <li>Read the do's and don't do's</li>
        </ul>
        <p class="big-bottom-margin">Note that to be included in the running for the main prize, you'll need $5.00 cash when you come in on April 20th. This is optional but all of these covers will go into a pot that goes to the winning team, so pitch in!</p>
        <p class="text-center"><a class="btn btn-lg btn-primary" href="https://www.eventbrite.com/e/the-sustainability-hackathon-tickets-44737687628" role="button" target="_blank">Register</a></p>
    </div>
{% endblock content %}