<div class="card-group">
    <div class="card"><div class="card-body">
        <h4 class="card-title text-center">user panel</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <label for="invite-user-field">email</label>
                    <input type="text" class="input-lg" id="invite-user-field" />
                    <button class="btn btn-sm btn-primary ml-3" id="submit-invite-user">invite</button>
                    <button class="btn btn-sm btn-primary ml-3" id="submit-lookup-user-invite">lookup invite</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="text-warning" id="invite-user-error"></div>
                    <div class="text-primary" id="invite-user-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div id="invite-user-result"></div>
                </div>
                <div class="col-md">
                    <div id="invite-user-actions"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label for="username-user-search-field">username</label>
                    <input type="text" class="input-lg mr-3" id="username-user-search-field" />
                    <label for="email-user-search-field">email</label>
                    <input type="text" class="input-lg mr-3" id="email-user-search-field" />
                    <button class="btn btn-sm btn-primary" id="submit-user-search-button">lookup user</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="text-warning" id="search-user-error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div id="search-user-result"></div>
                </div>
                <div class="col-md">
                    <div id="search-user-actions"></div>
                </div>
            </div>
        </div>
    </div></div>
</div>
<script>
    function promoteUser() {

    }

    function removeUser() {

    }

    function fillUserData(users) {
        child = null;
        if (users && users.length > 0) {
            child = '<select class="form-control">';
            for (var i = 0; i < users.length; ++i) {
                child += '<option>' + users[i].last_name + ', ' + users[i].first_name + '</option>';
            }
            child += '</select>';
        }
        $('#search-user-result').append(child);
        if (child) {
            var actions = '<ul class="list-group">';
            actions += '<li class="list-group-item list-group-item-action clickable" onclick="promoteUser">promote user</li>';
            actions += '<li class="list-group-item list-group-item-action clickable" onclick="removeUser">remove user</li>';
            actions += '</ul>';
            $('#search-user-actions').append(actions);
        }
    }

    $('#submit-user-search-button').click(function() {
        $('#search-user-error').text('');
        var username = $('#username-user-search-field').val();
        var email = $('#email-user-search-field').val();
        if (!username && !email) return;
        $.ajax({
            type: 'POST',
            url: '/user/get-list',
            dataType: 'json',
            data: {
                username: sha1(username),
                email: email,
            },
            success: function(data) {
                $('#search-user-result').empty();
                $('#search-user-actions').empty();
                if (data.error) {
                    $('#search-user-error').text(data.error);
                } else {
                    fillUserData(data.users);
                }
            }
        })
    });

    $('#submit-invite-user').click(function() {
        var email = $('#invite-user-field').val();
        if (!email) return;
        $.ajax({
            type: 'POST',
            url: '/user/invite',
            dataType: 'json',
            data: {email: email},
            success: function(data) {
                $('#invite-user-message').text('');
                if (data.error) {
                    $('#invite-user-error').text(data.error);
                } else {
                    var message = 'Send this link to the person you are trying to invite: ' + data.link_hash;
                    message += '<br>This invitation will be active for 5 days or until they use it sign up. ';
                    message += 'After that, if they still need to register you\'ll need to invite them again';
                    $('#invite-user-message').text(message);
                }
            }
        })
    });

    function revokeInvitation() {

    }

    function extendInvitation() {

    }

    function fillInviteData(invites) {
        if (invites && invites.length > 0) {
            var child = '<select class="form-control">';
            for (var i = 0; i < invites.length; ++i) {
                child += '<option>link: ' + invites[i].link + ' , expires: ' + invites[i].expires + '</option>'
            }
            child += '</select>';
            $('#invite-user-result').append(child);
            var actions = '<ul class="list-group">';
            actions += '<li class="list-group-item list-group-item-action clickable" onclick="revokeInvitation">revoke invitation</li>';
            actions += '<li class="list-group-item list-group-item-action clickable" onclick="extendInvitation">extend invitation</li>';
            actions += '</ul>';
            $('#invite-user-actions').append(actions);
        }
    }

    $('#submit-lookup-user-invite').click(function() {
        var email = $('#invite-user-field').val();
        if (!email) return;
        $.ajax({
            type: 'GET',
            url: '/user/invite',
            dataType: 'json',
            data: {email: email},
            success: function(data) {
                $('#invite-user-result').empty();
                $('#invite-user-actions').empty();
                $('#invite-user-error').text('');
                if (data.error) {
                    $('#invite-user-error').text(data.error);
                } else {
                    fillInviteData(data.invites);
                }
            }
        })
    });
</script>