{% extends "wics-setup.jinja2" %}
{% block main_nav %}
    {% include "public-menu.jinja2" %}
{% endblock main_nav %}
{% block errors %}
    {% if error != None %}
        <div class="toaster bg-danger" id="general-error-toast">{{ error }}</div>
        <script>
            $('#general-error-toast').addClass('toaster-show');
            setTimeout(function() { $('#general-error-toast').removeClass('toaster-show') }, 3000);
        </script>
    {% endif %}
{% endblock errors %}
{% block content%}
    {% include "user_portal/auth/login-modal.jinja2" %}
    <div class="container">
    <div class="row">
        <div class="col-lg p-2 center">
            <img class="center" src="{{request.static_url('wics_2:static/images/faces.jpg')}}" />
        </div>
        <div class="col-lg small-device-center medium-device-center p-4">
            <h3 class="typography-header typography-color-primary">What's in a Name?</h3>
            <p class="typography-body typography-light">
                The short answer is: <i><span class="typography-color-accent-1"> an awful lot.</span></i><br>
                At WiCS, we believe that Computer Science is an awesome field where we can create,
                solve puzzles, and make a decent living in some of the biggest companies in the world.
                Unfortunately, many people feel <span class="typography-color-accent-1">left out</span>
                because of their gender, race, sexual orientation,
                or disability status and <span class="typography-color-accent-1">that's not right!</span>
                We envision a future where all different kinds
                of people are influencing the technologies and companies that are moving us into the future.
                So we invite you to join us in our journey to a place where
                <strong class="typography-color-primary"><i>We Belong!</i></strong>
            </p>
        </div>
    </div>
    <div class="row m-3">
        <div class="col center">
        <img src="{{request.static_url('wics_2:static/images/hero_images/wics-site-lead.jpg')}}" class="full-width center" />
        </div>
    </div>
    <div class="row bg-color-light typography-color-accent-2 rounded-borders m-3 p-5">
        <div class="col-lg">
            <h2 class="center typography-header typography-color-accent-2 mt-4">We're relaunching the mentorship program!</h2>
            <div class="horizontal-rule-dark"></div>
            <p class="typography-body typography-color-accent-2 mt-4">
                We in Computer Science have started the Mentorship Program to foster the growth of incoming
                CS students and to continue our mission of making the department at Portland State a safe,
                inclusive space to learn. Our motto "we belong" motivates us to encourage new and returning
                students to be a part of our movement by growing our community and inspiring others to do the
                same. With the WiCS Mentorship Program, new and returning students can join to either become
                a mentor to students new to the PSU CS culture or to simply be a mentee who seeks guidance and
                friendship while embarking on their new adventure.
            </p>
            <p class="typography-body typography-color-accent-2 mobile-center">
                To learn how to get involved, go to the
                <a href="https://sites.google.com/view/flipthestats" class="nowrap mobile-center" target="_blank">
                    <span class="large-device-only"> mentorship program homepage.</span>
                    <button class="btn mobile-only center btn-primary mt-3">mentorship program homepage</button>
                </a>
            </p>
        </div>
    </div>
    </div>
{% endblock content %}
