{% extends "../wics-setup.jinja2" %}

{% block main_nav %}
    {% include "user-menu.jinja2" %}
{% endblock main_nav %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>WiCS User Portal</h1>
        </div>
        {% if role_name == 'admin' %}
        <div class="row">
            {% include "admin/user-card.jinja2" %}
        </div>
        {% endif %}
    </div>
{% endblock content %}