<nav class="navbar navbar-expand-md navbar-dark bg-color-accent-2">
    <a class="navbar-brand" href="/">WiCS User Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="contact_us_dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                <div class="dropdown-menu bg-secondary typography-body" aria-labelledby="contact_us_dd">
                    <a class="dropdown-item" href="https://wics-psu.slack.com">slack</a>
                    <a class="dropdown-item" href="https://facebook.com/wics-pdx">facebook</a>
                    <a class="dropdown-item" href="mailto:wics@pdx.edu">email</a>
                    <a class="dropdown-item" href="#">snail mail</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="get_involved_dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                <div class="dropdown-menu bg-secondary typography-body" aria-labelledby="get_involved_dd">
                    <a class="dropdown-item" href="https://calendar.google.com/calendar/embed?src=pdx.edu_h6mc4ktu5a391oqg9blq95qan4%40group.calendar.google.com&ctz=America%2FLos_Angeles">events calendar</a>
                    <a class="dropdown-item" href="https://orgsync.com/158259/chapter">org sync</a>
                    <a class="dropdown-item" href="https://facebook.com/wics-pdx">leadership directory</a>
                    <a class="dropdown-item" href="/mentor">mentorship program</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="get_involved_dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Portal</a>
                <div class="dropdown-menu bg-secondary typography-body" aria-labelledby="get_involved_dd">
                    <a class="dropdown-item" href="/user/blog">manage blog</a>
                    <a class="dropdown-item" href="/user/admin">manage users</a>
                    <a class="dropdown-item" href="/user/designer">WiCS designer</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item mr-3">
                {% include "auth/logout-button.jinja2" %}
            </li>
        </ul>
    </div>
</nav>