{% extends "hackathon-top-aligned-layout.jinja2" %}

{% block content%}
    <div class="content big-bottom-margin text-center">
    <img class="medium-bottom-margin col-12" src="{{ request.static_url('wics_2:static/images/hackathon/hackathon-registration-1.jpg') }}">
    <p class="lead">
        The WiCS Hackathon is a great opportunity for unexperienced and experienced programmers alike! Come
        enjoy free food, networking opportunities and a day of hacking together little projects with friends.
        When you get to the <a class="font-bold" href="" target="_blank">engineering building</a> on the 20th,
        you'll be treated to some snacks, an opportunity to join a group (if you haven't already joined up with one)
        and some keynote speeches from industry professionals on diversity and the theme of our hackathon: sustainability.
        Then, on the following day, you'll meet up with your team and build small projects under the theme. At the end of
        the night, groups will get the opportunity to present their ideas to the group! This is a fun, low-pressure way
        to get better at programming, smooze with industry professionals and hang out with a bunch of other people who
        like to program, just like you!
        <br><br>
        Don't have much coding experience? No problem! We'll have industry experts going between groups to help you work through
        your ideas and bring them to life! We want you to not only have a great time at the event, but also come away
        with valuable experience that will make you a better team player and programmer! We hope to see you there! :)
    </p>
    </div>
    <div class="big-bottom-margin jumbotron bg-dark">
        <h2 class="text-center font-bold">FAQ</h2>
        <h3>What do I need to attend a hackathon?</h3>
        <p>ID proof, laptop, charger, headphones, a project idea and anything that you might need.</p>
        <h3>I’m only a freshman, can I still attend and be successful?</h3>
        <h3>I only know one programming language, do I have a shot at creating something amazing?</h3>
        <h3>I do not have any hackathon experience, can I still join the event?</h3>
        <p>Yes, yes and  YES! In fact, your experience is invaluable to making something that everybody can use and enjoy.</p>
        <h3>What is the team size?</h3>
        <p>There can be up to five members in the team and no less than two. You can make your own team and come to the event or we can help you form a team during pitches. Make sure that there is a diversity of skill sets on your team.</p>
        <h3>Who can participate?</h3>
        <p>Any student of any gender at Portland State University is welcome to participate.</p>
        <h3>How do I register?</h3>
        <p>Registration is on an individual basis. You can register <a href="http://wics.cs.pdx.edu/hackathon/register">here.</a></p>
        <h3>Is there an entry fee?</h3>
        <p>No, it’s a free event. However, there is a $5.00 cover at the door for anybody who wants to be considered for a prize. The cover goes into a pot awarded to the team that places first, overall.</p>
        <h3>Is the food provided?</h3>
        <p>Breakfast and dinner will be provided on Saturday, April 21st.</p>
        <h3>What is the demo time limit?</h3>
        <p>About 3-5 minutes per project</p>
    </div>
    <div class="big-bottom-margin">
        <h2 class="text-center font-bold">Do's and Don't Do's</h2>
        <h3>Do’s</h3>
        <ul>
            <li>Come to a hackathon with an open mind and some ideas about your project. Have a realistic goal to achieve within the time limit.</li>
            <li>Network and talk with other people.</li>
            <li>If you get stuck, seek help from mentors and volunteers.</li>
            <li>Try to have 2-3 programmers, 1 designer and 1 presenter in your team. This is not a hard and fast requirement. Form a team as you see fit for your project idea.</li>
            <li>Try to make a working prototype of your idea in case you are not able to finish your product by the deadline.</li>
            <li>Do not be afraid to pivot from your original idea.</li>
            <li>Use version control systems extensively.</li>
            <li>Wear something casual and comfortable, carry your toiletries, drink a lot of water and take frequent breaks.</li>
            <li>Follow the <a class="font-bold" href="#code_of_conduct">code of conduct.</a></li>
            <li>Remember to have fun! Whether you win or lose, enjoy the event.</li>
        </ul>
        <h3>Don't Do's</h3>
        <ul>
            <li>Don't take it literally. Do not hack others’ devices.</li>
            <li>Don’t work alone! Hackathons are a great opportunity to learn something new on your own in a team with people having complementary skill sets. This will make your work more efficient and you will get to learn from others who are already experts.</li>
            <li>Don’t think that you can’t contribute. Everyone brings unique skills to a team and all members need to contribute to be successful.</li>
            <li>Don’t think your ideas are silly and not worthwhile. Always demo your project. Even if your hack doesn’t work or you couldn’t finish it, people like hearing about what you tried to do, what challenges you faced, what technology you used, and what you learned.</li>
        </ul>
    </div>
    <a name="code_of_conduct"></a>
    <div class="big-bottom-margin jumbotron bg-dark">
        <h2 class="text-center font-bold">WiCS Code of Conduct</h2>
        <h3>The simple version:</h3>
        <ul>
            <li>be nice</li>
            <li>be honest</li>
            <li>be supportive</li>
        </ul>
        <h3>The details:</h3>
        <p>The WiCS Community should be a safe place for everybody regardless of</p>
        <ul>
            <li>gender, gender identity or gender expression</li>
            <li>sexual orientation</li>
            <li>disability</li>
            <li>physical appearance (including but not limited to body size)</li>
            <li>race</li>
            <li>age</li>
            <li>religion</li>
            <li>anything else you can think of</li>
        </ul>
        <p>As someone who is part of this community, you agree that:</p>
        <ul>
            <li>We are collectively and individually committed to safety and inclusivity.</li>
            <li>We have zero tolerance for abuse, harassment, or discrimination.</li>
            <li>We respect people’s boundaries and identities.</li>
            <li>We refrain from using language that can be considered oppressive (systemically or otherwise), e.g. sexist, racist, homophobic, transphobic, classist, etc. - this includes (but is not limited to) various slurs. We avoid using offensive topics as a form of humor.</li>
        </ul>
        <p>We actively work towards:</p>
        <ul>
            <li>Being a safe community.</li>
            <li>Cultivating a network of support and encouragement for each other.</li>
            <li>Encouraging responsible and varied forms of expression.</li>
        </ul>

        <p>We condemn:</p>
        <ul>
            <li>Stalking, doxing, or publishing private information.</li>
            <li>Threats of harm, harassment.</li>
            <li>Anything that compromises people’s safety</li>
            <li>Plagiarism of any kind (e.g., writing code for another person, copying software design)</li>
        </ul>
        <p>These things are NOT OK.</p>
        <p>If you say something that is found offensive, and you are called out on it, you should:</p>
        <ul>
            <li>Listen without interruption.</li>
            <li>Believe what the person is saying and do not attempt to disqualify what they have to say.</li>
            <li>Ask for tips/help with avoiding making the offense in the future.</li>
            <li>Apologize and ask forgiveness.</li>
        </ul>
        <p>Anybody found to be violating this code of conduct may be asked to leave the event without a refund of their cover (if one was paid).</p>
    </div>
{% endblock content %}