{% extends "hackathon-top-aligned-layout.jinja2" %}

{% block content %}
    <div class="content">
    <h1 class="display-4 font-weight-normal text-center page-header row">Schedule</h1>
        <div>
            <h2 class="font-bold">April 20</h2>
            <div class="row">
                <div class="col-3">4:00 - 5:00 PM</div><div class="col-3">Event Setup</div>
                <div class="col-6">Judges, coaches and speakers do not need to arrive, at this point.</div>
            </div>
            <div class="row">
                <div class="col-3">5:00 - 6:00 PM</div><div class="col-3">Attendee sign-in</div>
                <div class="col-6">Groups who want to be judged will pay their entry fee at this time. Team leads will be filling out a project questionnaire that will be posted on the back wall for attendees to see.</div>
            </div>
            <div class="row">
                <div class="col-3">6:00 - 7:30 PM</div><div class="col-3">Kickoff Session</div>
                <div class="col-6">Speakers will deliver their remarks, judges introduce themselves and WiCS representatives will give remarks on the next day’s proceedings, how to form teams and point to starter projects on Github that will allow the participants to get going quickly.</div>
            </div>
            <div class="row">
                <div class="col-3">7:30 - 9:00 PM</div><div class="col-3">Pitches and team formation</div>
                <div class="col-6">Team leads will make themselves available to speak with participants about the projects they are proposing. Once they have their members, they will register the team but no actual coding work happens at this stage. Coaches will mingle and provide guidance.</div>
            </div>
        </div>
        <div>
            <h2 class="font-bold">April 21</h2>
            <div class="row">
                <div class="col-3">9:00 - 10:00 AM</div><div class="col-3">Breakfast</div>
                <div class="col-6">WiCS delivers a welcome message. Participants separate into working groups.</div>
            </div>
            <div class="row">
                <div class="col-3">12:00 PM</div><div class="col-3">Lunch Break</div>
            </div>
            <div class="row">
                <div class="col-3">5:00 PM</div><div class="col-3">Dinner and Finale</div>
                <div class="col-6">Groups disband and dinner is served. Teams participating in the contest will each give a 5 minute presentation on their projects. Participants vote for a ‘people’s choice’ project while judges confer. Afterward, winners are announced and prizes are distributed.</div>
            </div>
        </div>
    </div>
{% endblock content %}